@import url(//db.onlinewebfonts.com/c/37b29158c68de167677fa4a3087d7188?family=Tiempos+Text+Regular);

@font-face {
  font-family: "Tiempos Text Regular";
  src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot");
  src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.svg#Tiempos Text Regular")
      format("svg");
}

html {
  font-family: "Tiempos Text Regular";
  background-image: linear-gradient(
    rgba(238, 238, 238, 0.719),
    rgb(255, 255, 255)
  );
}

html,
body {
  margin-left: 5px;
  padding: 0;
  max-width: 960px;
}

html {


  
}

h4 {
  padding: 0;
  margin: 0;
}

#back {
  margin-top: 20px;
}

h2 {
  margin-top: 0;
  padding-top: 0;
  color: gray;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#cont {
  margin: 10%;
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
  .z {
    padding-bottom: 0px;
  }
  #cont {
    margin: 0%;
  }
}

.pad {
  padding-left: 20px;
}

.z {
  display: flex;
  padding: 25px;
  background-color: rgba(192, 191, 191, 0.253);
  margin: 10px;
  padding-bottom: 7px;

  border-bottom: 1px solid #4d4d4d2f;
}

.y {
  padding-top: 2px;
}

.blue {
  color: rgb(105, 105, 105);
}

.blue:hover {
  color: rgb(0, 0, 0);
}

ul {
  padding-left: 2.5em;
}

*  {
color: black;
}

*  {
  color: black;
  }

  a {
    color: black;
  }

  html { 
    background: url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }