@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
html,
body {
  margin-left: 5px;
  padding: 0;
  margin: 0px;
  font-family: Helvetica;


}
#git {
  color: #212427;
  font-size: 16px;
}
h1 {
  color: #212427;

}
h2 {
  color: #212427;

  margin-top: -10px;
}
h3 {

  color: #212427;
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 0px;
}
p {
  color: #212427;
 
}
.boxa {
  margin-right: 30px;
}
a {
  text-decoration: none;

}
h4 {
  padding: 0;
  margin: 0;
}
#back {
  margin-top: 20px;
}
h2 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
}
h1 {
margin-bottom: 0;
}
#cont {
  margin: 10%;
  margin-top: 0%;
  display: flex;
  padding-left: 0px;
  margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
  .z {
    padding-bottom: 0px;
  }
  #cont {
    margin: 2%;
  }
}
.q {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 5px;
  padding: 20px;

  margin-right: 0px;
  margin-bottom: 15px;

  border-bottom: 1px solid rgba(51, 51, 51, 0.198);
  border-left: 1px solid rgba(73, 73, 73, 0.144);

  background-color: rgba(255, 255, 255, 0.336);
border-radius: 2px;
}

a {
  font-size: calc(16px + 0.1vw);
  color: #212427;
  margin-left: 0px;
  font-weight: 700;
}

.boxa {
  grid-row: 1 / span 2;
  justify-content: center;
  display: flex;
  align-items: center;
}
.boxb {
  color: #212427;
}
.boxc {
  color: #212427;
  font-size: calc(15px + .1vw);
}
.nameBox {




  padding-bottom: 20px;

}

header {
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 3px;
  border-radius: 2px;
  border-bottom: 1px solid rgba(49, 49, 49, 0.089);
  border-left: 1px solid rgba(172, 172, 172, 0.13);
  border-right: 1px solid rgba(98, 98, 98, 0.048);



}
.blue:hover {
  color: blue;
}
#git:hover {
  color: blue;
}
ul {
  padding-left: 0;
}

a:hover {
  color: blue;
}

#box {
  background-image: linear-gradient(-125deg, #FFFEFF 0%, #c1cbe2 100%);
}
