@import url(//db.onlinewebfonts.com/c/2aa5f6db10ab7b69465c95555c235503?family=Graphik+Semibold);
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url(//db.onlinewebfonts.com/c/076550ba1f35c1eeb75f430fee2bb6a9?family=Graphik+Regular);
@import url(//db.onlinewebfonts.com/c/8050e6017c3b848b20a6324507cfba88?family=LTC+Twentieth+Century);
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
html,
body {
  margin-left: 5px;
  padding: 0;
  margin: 0px;
  font-family: "Helvetica";
  background-color: #d6d6d61a;
}

.boxb {
  padding-top: 5px;
}
.boxa {
  margin-right: 30px;
}
a {
  text-decoration: none;
}
h4 {
  padding: 0;
  margin: 0;
}
#back {
  margin-top: 20px;
}
h2 {
  margin-top: 0;
  padding-top: 0;

}
h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
}
#cont {
  margin: 10%;
  margin-top: 0%;
  display: flex;
  padding-left: 0px;
  margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
  .z {
    padding-bottom: 0px;
  }
  #cont {
    margin: 2%;
  }
}

.q {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 10px;
  color: #dfdfdf;
  padding: 30px;
  background-color: #000000;
  margin-right: 0px;
  margin-bottom: 30px;
}

a {
  font-size: calc(18px + 0.2vw);
  margin-left: 0px;
  color: #dfdfdf;
}

.boxa {
  grid-row: 1 / span 2;
  justify-content: center;
  display: flex;
  align-items: center;
}

header {
  align-items: center;
  background-color: #000000;
  display: flex;
  color: #dfdfdf;
}

.blue {
  color: rgb(0, 0, 0);
}
.blue:hover {
  color: blue;
}
#git:hover {
  color: blue;
}
ul {
  padding-left: 0;
}

a:hover {
  color: blue;
}
