@import url(//db.onlinewebfonts.com/c/37b29158c68de167677fa4a3087d7188?family=Tiempos+Text+Regular);

@font-face {
  font-family: "Tiempos Text Regular";
  src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot");
  src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.svg#Tiempos Text Regular")
      format("svg");
}

html {
  font-family: "Tiempos Text Regular";

  filter: sepia(20%);
 
}


html,
body {
  margin-left: 5px;
  padding: 0;
  max-width: 960px;

}

html {

background-color: rgb(233, 231, 231);
  
}

h4 {
  padding: 0;
  margin: 0;
}

#back {
  margin-top: 20px;
}

h2 {
  margin-top: 0;
  padding-top: 0;
  color: gray;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#cont {
  margin: 10%;
  margin-top: 2%;


  background: repeating-linear-gradient(rgba(230, 100, 100, 0)00, #e2e2e2 10px, #d4d4d423 10px, #e4e4e434 10px);
  background: linear-gradient(var(--bg-angle), var(--bg-start), var(--bg-end));
  box-shadow: var(--h1) var(--v1) var(--color-dark), 
              var(--h2) var(--v2) var(--color-light);
              align-items: center;
              background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
              box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
               -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
              
              display: flex;
              border-left: 1px solid silver;
}

@media only screen and (max-width: 600px) {
  .z {
    padding-bottom: 0px;
  }
  #cont {
    margin: 0%;
  }
}

.pad {
  padding-left: 20px;
}

.z {
  display: flex;
  padding: 25px;
  background-color: rgba(224, 16, 16, 0.253);
  margin: 10px;
  margin-right: 0px;
  padding-bottom: 7px;

  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  align-items: center;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
border-top: 1px solid rgba(255, 255, 255, 0.623);
border-bottom: 1px solid rgba(82, 81, 81, 0.295);
  display: flex;
}

header {
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  align-items: center;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
border-top: 1px solid rgba(255, 255, 255, 0.623);
border-bottom: 1px solid rgba(82, 81, 81, 0.295);
  display: flex;

}

.y {
  padding-top: 2px;
}

.blue {
  color: rgb(105, 105, 105);
}

.blue:hover {
  color: rgb(0, 0, 0);
}

ul {
 padding-left: 0;
}

*  {
color: black;
}

*  {
  color: black;
  }

  a {
    color: black;
  }

