@import url(//db.onlinewebfonts.com/c/37b29158c68de167677fa4a3087d7188?family=Tiempos+Text+Regular);

@font-face {
  font-family: "Tiempos Text Regular";
  src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot");
  src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.svg#Tiempos Text Regular")
      format("svg");
}

html {
  background-color: rgba(255, 255, 0, 0.055);
  font-family: "Tiempos Text Regular";
  background-color: rgba(250, 228, 129, 0.212);

}


html,
body {
  margin-left: 5px;
  padding: 0;
  max-width: 960px;

}

h4 {
  padding: 0;
  margin: 0;
}

#back {
  margin-top: 20px;
}

h2 {
  margin-top: 0;
  padding-top: 0;
  color: gray;
} 

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#cont {
  margin: 10%;
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
  body {
   
  }
  #cont {
    margin: 0%;
  }
}